<div class="box">
    <div class="row">

        <div class="col-12 d-flex justify-content-center">
            <span class="display-1"> {{ 'not_found_page.header' | translate }} </span>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <span class="h5"> {{ 'not_found_page.not_found_message' | translate }} </span>
        </div>

        <div class="col-12 d-flex justify-content-center mt-3">
            <a [routerLink]="['/dashboard']" class="btn btn-success"> {{ 'not_found_page.go_to_dashboard_button' | translate }} </a>
        </div>
    </div>

</div>
